## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("C://Users//Zach Pausa//PythonStuff//WeatherPy//Weather_database//WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,1,Atuona,PF,78.67,clear sky,-9.8000,-139.0333,Villa Enata
1,8,East London,ZA,70.38,few clouds,-33.0153,27.9116,Tu Casa
2,9,Carnarvon,AU,75.27,broken clouds,-24.8667,113.6333,Hospitality Carnarvon
3,10,Bambous Virieux,MU,77.25,scattered clouds,-20.3428,57.7575,Casa Tia Villa
4,14,Vaini,TO,81.50,broken clouds,-21.2000,-175.2000,Keleti Beach Resort

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
locations = vacation_df[["Lat", "Lng"]]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=2)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df['City']=="Eureka"]
vacation_end = vacation_df.loc[vacation_df['City']=="Eureka"]
vacation_stop1 = vacation_df.loc[vacation_df['City']=="Fortuna"]
vacation_stop2 = vacation_df.loc[vacation_df['City']=="Ukiah"] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=="Laguna"] 
vacation_stop1

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
69,172,Fortuna,US,79.93,clear sky,40.5982,-124.1573,Super 8 by Wyndham Fortuna

In [6]:
vacation_start = vacation_df.loc[vacation_df['City']=="Eureka"]
vacation_end = vacation_df.loc[vacation_df['City']=="Eureka"]
vacation_stop1 = vacation_df.loc[vacation_df['City']=="Fortuna"]
vacation_stop2 = vacation_df.loc[vacation_df['City']=="Ukiah"] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=="Laguna"] 
vacation_stop2

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
211,586,Ukiah,US,82.44,clear sky,39.1502,-123.2078,Hampton Inn Ukiah

In [7]:
vacation_start = vacation_df.loc[vacation_df['City']=="Eureka"]
vacation_end = vacation_df.loc[vacation_df['City']=="Eureka"]
vacation_stop1 = vacation_df.loc[vacation_df['City']=="Fortuna"]
vacation_stop2 = vacation_df.loc[vacation_df['City']=="Ukiah"] 
vacation_stop3 = vacation_df.loc[vacation_df['City']=="Laguna"] 
vacation_stop3

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
145,387,Laguna,US,78.22,clear sky,38.421,-121.4238,Holiday Inn Express & Suites Elk Grove Central...

In [8]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.
start = vacation_start['Lat'].to_numpy()[0], vacation_start['Lng'].to_numpy()[0]
end = vacation_end['Lat'].to_numpy()[0], vacation_end['Lng'].to_numpy()[0]
stop1 = vacation_stop1['Lat'].to_numpy()[0], vacation_stop1['Lng'].to_numpy()[0]
stop2 = vacation_stop2['Lat'].to_numpy()[0], vacation_stop2['Lng'].to_numpy()[0]
stop3 = vacation_stop3['Lat'].to_numpy()[0], vacation_stop3['Lng'].to_numpy()[0]

In [9]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".
import gmaps.datasets

gmaps.configure(api_key=g_key)

fig = gmaps.figure()

Port2Kiama = gmaps.directions_layer(start,end,waypoints = [stop1,stop2,stop3],travel_mode='DRIVING')
fig.add_layer(Port2Kiama)
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
itinerary_df = pd.concat([vacation_start,vacation_stop1,vacation_stop2,vacation_stop3],ignore_index=True)
itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,303,Eureka,US,80.20,clear sky,40.8021,-124.1637,Eureka Inn Trademark By Wyndham
1,172,Fortuna,US,79.93,clear sky,40.5982,-124.1573,Super 8 by Wyndham Fortuna
2,586,Ukiah,US,82.44,clear sky,39.1502,-123.2078,Hampton Inn Ukiah
3,387,Laguna,US,78.22,clear sky,38.4210,-121.4238,Holiday Inn Express & Suites Elk Grove Central...

In [11]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = itinerary_df[["Lat", "Lng"]]

In [12]:
# 11a. Add a marker layer for each city to the map.
locations = itinerary_df[["Lat", "Lng"]]

fig = gmaps.figure()
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))